<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Serve the static files directly
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # All other URLs should go to index.html
  RewriteRule . /index.html [L]
</IfModule>
